<%- include('partials/header') -%>
  <div class="container">
    <!-- <div class="col-6 mt-5 nav">
      
    </div> -->
    <aside class="sidebar">
      <a class="btn btn-primary" href="/writeReview">Write a Review</a> | 
    </aside>
    <main>
      <section>
        
        <h2>Top Reviews</h2>
        <div class="row justify-content-center mt-5">
          <ul class="feed">
            <% for(var i = 0; i < 4; i++) {%>
              <li class="feed-posts">
                <a href="/post/<%= posts[i]._id%>" class="feedImgContainer">
                  <img class="img-fluid" src="<%= posts[i].image%>">
                </a>
                <div>
                  <a class="topName"><%= posts[i].brand %>'s <%= posts[i].title %></a>
                  <span class="btn btn-primary fa fa-heart" > <%= posts[i].likes %></span>
                  <!-- <span class="btn btn-primary fa fa-heart" > <%= posts[i].comments %></span> -->
                </div>
              </li>
            <% } %>
            </ul>
        </div>
      </section>
      <section id="reviewListSection">
        <ul id="reviewListTopBar" class="reviewList">
          <li>Brand</li>
          <li>Name</li>
          <li>Rating</li>
          <li>Heat</li>
          <li>Likes</li>
          <li>User</li>
          <li>Date</li>
        </ul>
        <% for(var i = 5; i < posts.length; i++) {%>
        <ul class="reviewList">
            <li><a><%= posts[i].brand %></a></li>
            <li><a href="/post/<%= posts[i]._id%>"><%= posts[i].title %></a></li>
            <li><a><%= posts[i].rating %> / 10</a></li>
            <!-- <li><a><progress max="10" value="<%= posts[i].heat %>"></progress></a></li> -->
            <li><a><div class="heatBar" style="--percent:<%= posts[i].heat * 10 %>"></div></a></li>
            <li><a><%= posts[i].likes %></a></li>
            <li><a><%= posts[i].user.userName %></a></li>
            <li><a><%= (posts[i].createdAt).toLocaleDateString('en-US') %></a></li>
          </ul>
          <% } %>
    </section>
    </main>


    
  </div>  
<%- include('partials/footer') -%>